{% extends "layout.html" %}

{% block title %}
    Blog
{% endblock %}

{% block main %}
<!--displays the header of the blog-->
<!--code from here https://www.w3schools.com/howto/howto_css_blog_layout.asp-->
<div class="header">
    <h2>
        Blog
    </h2>
</div>

<div class="row">
    <div class="leftcolumn">
        <!--displays the blog posts in the left column through iterating through blogs-->
        {% for blog in blogs %}
        <div class="card">
            <!--blogs[0] represents the title (accessed through tuples)-->
            <h2>
                {{blog[0]}}
            </h2>
            <!--blogs[2] represents the date-->
            <h5>
                {{blog[2]}}
            </h5>
            <div>
                <!--displays the image source provided by blogs-->
                <img class="center img" src="static/{{blog[3]}}" alt="{{blog[0]}}">
                <p></p>
                <!--button that allows the reader to read more into the blog post and access the text, passing in the blog id
                so that subblog.html can read the blog post using the blog id-->
                <form action="/subblog" method="get">
                    <button name="blogid" type="submit" value="{{blog[1]}}">
                        Read More
                    </button>
                </form> 
            </div>
        </div>
    {%endfor%}
    </div>
    <!--right column with the about writer page for the blog-->
    <div class="rightcolumn">
        <div class="card">
            <h2>
                Nicole Chen
            </h2>
        </div>
        <div>
            <img class="img" src="/static/writer.jpg" alt="Nicole Chen">
            <p>
                Nicole Chen is one of the co-founders at DTC Computer Science Camp. She blogs for the camps.
            </p>
        </div>
    </div>
</div>     

{% endblock %}

