{% extends "layout.html" %}

{% block title %}
    Contact Us
{% endblock %}

{% block main %}

<h1>Contact Us</h1> 
<p></p>
<h2 style="color: {{ color }}">{{m}}</h2>

<form action="/contact" method="post">
    <div class="input-group mb-3 justify-content-center">
        <div class="input-group-prepend">
          <span class="input-group-text">Name</span>
        </div>
        <input required type="text" class="border form-group w-25 start" name="name" aria-describedby="basic-addon1">
    </div> 
    <div class="input-group mb-3 justify-content-center">
        <div class="input-group-prepend">
          <span class="input-group-text">Email</span>
        </div>
        <input required type="text" class="border form-group w-25 start" name="email" aria-describedby="basic-addon1">
    </div> 
    <div class="input-group mb-3 justify-content-center">
        <div class="input-group-prepend">
            <span class="input-group-text">Message</span>
        </div>
    </div>

    <div class="input-group mb-3 justify-content-center">
        <textarea required name="message" rows="4" cols="75" class="border start" aria-describedby="basic-addon1">
        </textarea>
    </div> 
    <button type="submit" class="btn btn-outline-primary">Contact Us</button>
</form>

<hr>

<h5>DTC Computer Science Camps</h5>
<h6>dtccscamp@gmail.com</h6>
<h6>nicole_chen@college.harvard.edu</h6>
<h6>sidijju@berkeley.edu</h6> 

{% endblock %}