{% extends "layout.html" %}

{% block body %}
<div class="container-fluid scroll new_font">
  {% for i in range(0, posts|length, 2) %} 
  <div class="row row-cols-2 g-3">
    {% if posts|length >= i + 2 %}
    <div class="col" style="width: 45%;">  
      <div class="card" style="width: 100%;">
        <img src="static/{{posts[i]['imagesource']}}" class="card-img-top" />
        <div class="card-body verticalcenter" >
          <h5 class="card-title">{{posts[i]['title']}}</h5>
          <form action="/recipe" method="get">
            <button style="background-color: #800000; color: white" name="recipeid" type="submit" value="{{posts[i]['recipe_id']}}">
                recipe
            </button>
          </form> 
        </div>
      </div>
    </div> 
    <div class="col" style="width: 45%;">  
      <div class="card" style="width: 100%;">
        <img src="static/{{posts[i+1]['imagesource']}}" class="card-img-top" />
        <div class="card-body verticalcenter" >
          <h5 class="card-title">{{posts[i+1]['title']}}</h5>
          <form action="/recipe" method="get">
            <button style="background-color: #800000; color: white" name="recipeid" type="submit" value="{{posts[i+1]['recipe_id']}}">
                recipe
            </button>
          </form> 
        </div>
      </div>
    </div> 
    <br>
    {% elif posts|length >= 1 %}
    <div class="col" style="width: 45%;">  
      <div class="card" style="width: 100%;">
        <img src="static/{{posts[i]['imagesource']}}" class="card-img-top" />
        <div class="card-body verticalcenter" >
          <h5 class="card-title">{{posts[i]['title']}}</h5>
          <form action="/recipe" method="get">
            <button style="background-color: #800000; color: white" name="recipeid" type="submit" value="{{posts[i]['recipe_id']}}">
              recipe
          </button>
          </form> 
        </div>
      </div>
    </div> 
    {% endif %}
  </div> 
</div>
{% endfor %}
{% endblock %}
