{% extends "layout.html" %}

{% block body %}
<section class="container">
    <div class="column">
      <h1>hey y'all</h1>
    
      <h2>welcome to 
        <span">cheneatsfood</span>. 
      </h2>
      <p>
        my name is nicole chen, and this is my online <span">cookbook</span> documenting all the delicious recipes i've made and reviewing my food adventures in bos, nyc, den, la, and more! a couple highlights about me and my palette... 
        <li>
            favorite cuisine? i love 四川和粤菜
        </li>
        <li>
            fun fact? i was pescatarian for two years 
        </li>
        <li>
            must-have ingredient? cooking wine  
        </li>
      </p>
    </div>

    <div class="column">
      <img src="static/profile_pic1.JPG" alt=""class="image--cover" /> 
    </div>
</section>

{% endblock %}
