{% extends "layout.html" %}

{% block title %}
    Mentors
{% endblock %}

{% block main %}

<h1>
    Our Founders
</h1> 

<p></p>

<!--displays each mentor via columns (one column for the mentor image and another for the mentor description)-->
<section class="col-container">
    <!--image of Siddarth-->
    <div class="col">
        <img class="image" src="static/sid.jpg" alt="Siddarth Ijju" width="300" height="375">
    </div>
    <!--description of Siddarth-->
    <div class="col">
        <h4>
            Siddarth Ijju (Founder)
        </h4> 
        <p>
            A freshman at the University of California at Berkeley, 
            Siddarth Ijju was accepted into the highly selective Berkeley M.E.T. program (only 3% get in), 
            where he is currently studying business and computer science.  
            In 2020, Ijju graduated from Cherry Creek High School, where he exhausted all the computer science courses 
            offered by his sophomore year. He was a teacher assistant for Creek's computer science department in 2018. 
            Both in 2018 and 2020, Siddarth represented Creek at the American Computer Science League All Star Competition
            with teammate Nicole Chen and was also ranked in the USACO Gold Division. 
            He has knowledge of programming languages such as Processing, Python, Java, Swift, C, C++, and SQL. 
            Additionally, he was co-president of Creek's Cybersecurity Club for 2 years. 
            In 2019, due to his computer science volunteer work, Siddarth was recognized at Creek's Bruin's Choice 
            Awards for his "outstanding leadership and community service." He is also an active member of Machine Learning @ 
            Berkeley, and Voyager Consulting @ Berkeley. In his free time, he dabbles with woodworking and enjoys watching anime.
        </p> 
    </div>
</section> 

<!--displays each mentor via columns (one column for the mentor image and another for the mentor description)-->
<section class="col-container">
    <div class="col">
        <!--description of Nicole-->
        <h4>
            Nicole Chen (Founder)
        </h4> 
        <p>
            A senior at Cherry Creek High School, Nicole will be attending Harvard University in the fall. 
            In high school, Nicole exhausted all the computer science courses offered at Creek and also 
            received notice of a perfect score on the 2018 AP Computer Science Exam (top 0.295% of all 2018 AP Computer 
            Science Exam test takers). Since junior year, she has been president of Creek's Technology Student Association/Tech Club 
            and a teacher assistant for Creek's Computer Science department. She also has knowledge of the languages Processing, 
            Java, SQL, C#, HTML, and Swift, and regularly competes in the American Computer Science League competition. 
            In 2019 and 2020, she was selected on Creek's ACSL team, qualifying to the 2020 International All Stars tournament with Siddarth. 
            In 2019, due to her computer science volunteer work, Nicole was recognized at Creek's Bruin's Choice Awards for 
            "outstanding leadership and community service." Some other computer science accolades that Nicole has received include 
            winning the 2019 Youth Tech Leader in the CTE APEX Awards, February CBS Future STEM Leader Award, and 
            the 2020 NCWIT National Honorable Mention Award (top 10%). Aside from computer science, Nicole is a Lincoln Douglas Varsity 
            Speech and Debate Captain and a nationally ranked fencer.
        </p> 
    </div>
    
    <!--image of Nicole-->
    <div class="col">
        <img class="image" src="static/nicole.jpg" alt="Nicole Chen" width="300" height="375">
    </div>
</section> 

{% endblock %}