{% extends "layout.html" %}

{% block title %}
    Professionals
{% endblock %}

{% block main %}

<h1>
    Professionals
</h1> 
<p></p>
<!--displays column by column of professionals and their descriptions-->
<section class="col-container">
    <!--column with one professional's image and height-->
    <div class="col">
        <img class="image" src="static/brand.jpg" alt="Dr. Lodewijk Brand" width="300" height="300">
        <h4>
            Dr. Lodewijk Brand
        </h4> 
        <p>
            Hi! My name is Lodewijk "Lou" Brand and I have spent the past four 
            years working in the MInDS@Mines Lab directed by Dr. Hua Wang. 
            My research is centered on the development of scalable machine learning algorithms applied 
            to problems in bioinformatics with a focus on problems involving multi-modal and multi-instance data. 
            I have applied my research to identify which genetic variants and regions of the brain contribute to a future 
            diagnosis of Alzheimer's disease. When I'm not in the lab, I spend the majority of my time rock-climbing outside.
        </p> 
    </div>
    <!--column with one professional's image and height-->
    <div class="col">
        <img class="image" src="static/pittman.jpg" alt="Dr. Dan Pittman" width="300" height="300">
        <h4>
            Dr. Daniel Pittman
        </h4> 
        <p>
            Hello there! I'm Professor Daniel Pittman, 
            an Associate Professor of the Practice in Software Development and Architecture 
            in the Department of Computer Science at the University of Denver (DU). 
            I worked in the software industry for 13 years, most recently as a principal software architect at 
            Comcast, and have just recently started a full-time position at DU. Since joining DU, I have taught 
            Web Programming I, Web Programming II, Web Programming III (Web Projects), NoSQL Databases, Computer Forensics, 
            and Machine Learning.
        </p> 
    </div>
    <!--column with one professional's image and height-->
    <div class="col">
        <img class="image" src="static/jung.jpg" alt="Grace Jung" width="300" height="300">
        <h4>
            Grace Jung
        </h4> 
        <p>
            Hi! My name is Grace, and I'm from Austin, Texas. 
            I first was introduced to Computer Science in high school through Girls Who Code, 
            and I'm now studying CS as a junior at Colorado School of Mines. I work as a mentor and lead TA 
            for our Intro to Computer Science course to support students new to college. I'm also an instructor for DECtech, 
            which is a camp at Mines for K-12 girls interested in STEM! I love CS because it allows me to be very creative and think in different ways.
        </p> 
    </div>
</section> 

<!--displays column by column of professionals and their descriptions-->
<section class="col-container">
    <!--column with one professional's image and height-->
    <div class="col">
        <img class="image" src="static/williams.jpg" alt="Dr. Tom Williams" width="300" height="300">
        <h4>
            Dr. Tom Williams
        </h4> 
        <p>
            Dr. Tom Williams is an Assistant Professor of Computer Science at the Colorado School of Mines, 
            where he directs the Mines Interactive Robotics Research Lab. Prior to joining Mines, 
            Tom earned a joint PhD in Computer Science and Cognitive Science from Tufts University in 2017. 
            Tom’s research focuses on enabling and understanding natural language based human-robot interaction 
            that is sensitive to environmental, cognitive, social, and moral context. His work is funded by grants from 
            NSF, ARL, and USAFA, as well as by Early Career awards from both NASA and the US Air Force
        </p> 
    </div>
    <!--column with one professional's image and height-->
    <div class="col">
        <img class="image" src="static/roy.jpg" alt="Dr. Sayanti Roy" width="300" height="300">
        <h4>
            Dr. Sayanti Roy
        </h4> 
        <p>
            Dr. Sayanti Roy is Postdoctoral Fellow in MIRROR lab of Colorado School of Mines under 
            Dr. Thomas Williams and also working with Ames Research Centre NASA. She received her 
            PhD in Computer Science from  Oklahoma State University under the supervision of Dr. Christopher Crick 
            and her bachelors degree (B.tech) from West Bengal University of Technology , India in Electronics and 
            Communication Engineering. Her primary area of research interest include Human Robot interaction and 
            Reinforcement Learning. She is a member of multiple organizations including SGAC (Space Generation 
            Advisory Council in support of the United Nations Programme) and is highly involved in space oriented research.
        </p> 
    </div>
    <!--column with one professional's image and height-->
    <div class="col">
        <img class="image" src="static/broderick.jpg" alt="Laura Broderick" width="300" height="300">
        <h4>
            Laura Broderick
        </h4> 
        <p>
            Hi! My name is Laura, and I am an undergraduate student at Mines majoring in computer science. 
            I am a teaching assistant for DECtech - a program that focuses on teaching younger females about STEM, 
            and a tutor for CSCI 261 at Mines - a course that teaches programming concepts in C++. In my free time, 
            I love spending time outdoors!
        </p> 
    </div>
</section> 

{% endblock %}