{% extends "layout.html" %}

{% block title %}
    Blog
{% endblock %}

{% block main %}
<!--subblog page that displays the specific blog post clicked on-->
<div class="left card mb-3">
    <div class="card-body">
        <!--displays the title of the blog post-->
        <h5 class="card-title">
            {{title}}
        </h5>
        <!--displays the text of the blog post-->
        <p class="card-text">
            {{text}}
        </p>
        <!--displays the date of the blog post-->
        <p class="card-text">
            <small class="text-muted">
                {{date}}
            </small>
        </p>
    </div>
    <!--displays the image with the blog post-->
    <img src="static/{{image}}" class="center card-img-top" alt="{{title}}">
  </div>

{% endblock %}

