{% extends "layout.html" %}

{% block title %}
    Volunteers
{% endblock %}

{% block main %}


<h2>Our 2021 Volunteers</h2>
<!--volunteer descriptions/name grouped in different column-->
<section class="col-container">
    <!--column of volunteer name/description-->
    <div class="col">
        <h4>Tanishqa Puhan</h4> 
        <p>Tanishqa is a rising junior at Cherry Creek High School who has been interested in Computer Science for a long time.
            Tanishqa can code in Processing and Java, but can also code a bit in C and Python!
            She's worked in CTF-style competitions and is part of the Cherry Creek High School Cybersecurity Club and Tech Club.
        </p> 
    </div>
    <!--column of volunteer name/description-->
    <div class="col">
        <h4>Rithvik Ijju</h4> 
        <p>Rithvik is a rising sophomore at Cherry Creek High School.
            Rithvik has experience with Processing and Python. He participates in Tech Club, FBLA, and Speech and Debate.
            He has competed and placed in the regional and state science fairs. In his free time, he enjoys playing golf and Minecraft. 
        </p> 
    </div>
    <!--column of volunteer name/description-->
    <div class="col">
        <h4>Ariuka Bayasgalan</h4> 
        <p>Ariuka is a rising sophomore at Cherry Creek High School with experience in Java, Python, Lua, and Processing. 
            She took DTC Computer Science Camps in 2020 and went on to take AP Computer Science A during the 2020-2021 school year.  
        </p> 
    </div>
    <!--column of volunteer name/description-->
    <div class="col">
        <h4>Abbas Shaikh</h4> 
        <p>Abbas is a rising senior at Cherry Creek High School interested in computer science with 
            experience in the programming languages Java, Processing, Python, R, and SQL. 
            He is particularly interested in data science and machine learning, specifically in their application to medicine, 
            and has worked on multiple research projects in the field. He is also involved in computer science-related clubs at 
            Creek including being co-president of the Cybersecurity Club.  
        </p> 
    </div>
</section> 

<!--spaces-->
<p></p>
<p></p>

<hr>

<p></p>
<p></p>
<!--displays a table of past volunteers in a column/column format-->
<!--first row-->
<h2>Our Past Volunteers</h2>
<section class="col-container">
    <!--column with past volunteer name/description-->
    <div class="col">
        <h6>Vibhu Agrawal</h6> 
        <p>Vibhu has taken Data Structures and Algorithms, AP Computer Science, and iOS Applications. 
            He is on the board of the Cyber Security Club at CCHS. He is attending University of Maryland.
        </p> 
    </div>
    <!--column with past volunteer name/description-->
    <div class="col">
        <h6>Andrea Arias</h6> 
        <p>Andrea has taken Data Structures and Algorithms, AP Computer Science, and iOS Applications. 
            She is currently a student at Massachusetts Institute of Technology. 
        </p> 
    </div>
    <!--column with past volunteer name/description-->
    <div class="col">
        <h6>Caleb Caulk</h6> 
        <p>Caleb has taken Data Structures and Algorithms, AP Computer Science, and iOS Applications. He is  attending CU Boulder.  
        </p> 
    </div>
    <!--column with past volunteer name/description-->
    <div class="col">
        <h6>Garrett Gee</h6> 
        <p>Garrett has experience in Java, Processing, and has taken AP Computer Science.
        </p> 
    </div>
</section> 
<!--second row-->
<section class="col-container">
    <!--column with past volunteer name/description-->
    <div class="col">
        <h6>Sriya Kasu</h6> 
        <p>Sriya has taken Data Structures and Algorithms and AP Computer Science. She will be attending CU Boulder.
        </p> 
    </div>
    <!--column with past volunteer name/description-->
    <div class="col">
        <h6>Austen Mazenko</h6> 
        <p>Austen has taken Data Structures and Algorithms, AP Computer Science, and iOS Applications. 
            He earned a perfect on the 2018 AP Computer Science test. He is currently a student at Princeton University.
        </p> 
    </div>
    <!--column with past volunteer name/description-->
    <div class="col">
        <h6>Melody Nigam</h6> 
        <p>Melody has taken AP Computer Science and Data Structures and Algorithms. She will be attending Georgia Institute of Technology.  
        </p> 
    </div>
    <!--column with past volunteer name/description-->
    <div class="col">
        <h6>Priyanka Senapati</h6> 
        <p>Priyanka has taken AP Computer Science and Data Structures and. Algorithms.
        </p> 
    </div>
</section>

<!--spaces-->
<p></p>
<p></p>

<hr>

<p></p>
<p></p>

<!--displays the message from app.py with color css-->
<h2 style="color: {{ color }}">{{message}}</h2>
<h3>Apply to be a volunteer today!</h3>
<p>Applications are currently open for those interested in volunteering for the summer of 2022. <BR>
    As a volunteer, you will work closely with mentors in teaching students the material. <BR>
    Volunteers are selected on a year by year basis, and two volunteers are selected per session. <BR>
    While volunteers do not directly teach the entire camp, they are in charge of each group assigned to them. <BR>
    Volunteers work one-on-one with students at the camps, so strong communication skills, a passion for code, <BR>
    and enthusiasm is necessary! Take a look at our past volunteers above!
</p>

<!--volunteer application form-->
<div>
    <form action="/volunteers" method="post">
        <!--first name input-->
        <div class="input-group mb-3 justify-content-center">
            <div class="input-group-prepend">
                <span class="input-group-text">First Name</span>
            </div>
            <input required type="text" class="left border form-group w-25" name="firstname">
        </div>  
        <!--last name input-->
        <div class="input-group mb-3 justify-content-center">
            <div class="input-group-prepend">
                <span class="input-group-text">Last Name</span>
            </div>
            <input required type="text" class="left border form-group w-25" name="lastname">
        </div> 
        <!--age input-->
        <div class="input-group mb-3 justify-content-center">
            <div class="input-group-prepend">
                <span class="input-group-text">Age</span>
            </div>
            <input required type="text" class="left border form-group w-25" name="age">
        </div>
        <!--email input-->
        <div class="input-group mb-3 justify-content-center">
            <div class="input-group-prepend">
                <span class="input-group-text">Email</span>
            </div>
            <input required type="text" class="left border form-group w-25 start" name="email">
        </div>
        <!--interest input-->
        <div class="input-group mb-3 justify-content-center">
            <div class="input-group-prepend">
                <span class="input-group-text">Why are you interested in being a volunteer?</span>
            </div>
        </div>
        <div class="input-group mb-3 justify-content-center">
            <textarea required name="interest" rows="4" cols="50" class="left border"></textarea>
        </div>
        <!--experience input-->
        <div class="input-group mb-3 justify-content-center">
            <div class="input-group-prepend">
                <span class="input-group-text">What experience do you have with teaching?</span>
            </div>
        </div>
        <div class="input-group mb-3 justify-content-center">
            <textarea required name="experience" rows="4" cols="50" class="left border"></textarea>
        </div>
        <!--additional info input-->
        <div class="input-group mb-3 justify-content-center">
            <div class="input-group-prepend">
                <span class="input-group-text">Additional Info?</span>
            </div>
        </div>
        <div class="input-group mb-3 justify-content-center">
            <textarea name="notes" rows="2" cols="50" class="left border"></textarea>
        </div>  
        <!--submit button-->
        <button type="submit" class="btn btn-outline-primary">Apply</button>
    </form>
</div>

{% endblock %}